body {
    background-color: #0f051e !important;
}

.container-fluid {
    width: 90% !important;
}

.btn {
    padding: 12px 35px !important;
    background: linear-gradient(to left, #4200fc, #f901fc);
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.brand {
    font-size: 35px !important;
    background: linear-gradient(to left, #4200fc, #f901fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0 !important;
}

#hero {
    margin-top: 8rem !important;
}

.content h1 {
    font-size: 60px;
}

.content h2 {
    background: linear-gradient(to left, #4200fc, #f901fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.hero-img {
    height: fit-content;
    border: 6px solid #f901fc;
    max-width: fit-content !important;
}

.hero-img img {
    width: 420px;
}


.social-links {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    align-items: center;
}

.social-links a {
    color: #fff !important;
    font-size: 25px;
    transition: 0.4s;
}

.social-links a:hover {
    transform: scale(1.4);
}

.social-links span {
    color: #fff;
    font-weight: 500;
    writing-mode: vertical-lr;
}


/* Media Queries */
@media (min-width: 991px) and (max-width: 1150px) {
    .content h1 {
        font-size: 42px;
    }

    .content h2 {
        font-size: 25px !important;
        margin-bottom: 15px !important;
    }

    .hero-img img {
        width: 320px !important;
    }
}

@media only screen and (max-width: 991px) {

    /* For tablets and mobile devices */
    .social-links {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: none;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        padding: 10px 0;
        gap: 10px;
        backdrop-filter: blur(25px);
    }

    .social-links a {
        font-size: 20px;

    }

    .social-links span {
        writing-mode: horizontal-tb;
    }
}

@media only screen and (min-width: 992px) {

    /* For desktop devices */
    .social-links {
        position: fixed;
        top: 50%;
        right: 2.5%;
        transform: translate(50%, -25%);
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
}



@media all and (max-width: 480px) {

    /* For mobile devices */
    .nav-container {
        flex-direction: column;
    }

    .brand {
        font-size: 25px !important;
        padding-bottom: 14px;
    }

    #hero {
        margin-top: 0rem !important;

    }

    .content h1 {
        font-size: 40px;
    }

    .content h2 {
        font-size: 18px !important;
        margin-bottom: 15px !important;
    }

    .content p {
        font-size: 14px !important;
    }
}
